<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.dao.EvaluationMapper">
  <resultMap id="BaseResultMap" type="com.xjtu.pojo.Evaluation">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="fromUserId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="toUserId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="evaluationLabel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="evaluationText" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rating" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="mainImage" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subImages" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, fromUserId, toUserId, evaluationLabel, evaluationText, rating, mainImage, subImages, 
    createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evaluation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xjtu.pojo.Evaluation">
    insert into evaluation (id, fromUserId, toUserId, 
      evaluationLabel, evaluationText, rating, 
      mainImage, subImages, createTime, 
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{fromuserid,jdbcType=INTEGER}, #{touserid,jdbcType=INTEGER}, 
      #{evaluationlabel,jdbcType=VARCHAR}, #{evaluationtext,jdbcType=VARCHAR}, #{rating,jdbcType=REAL}, 
      #{mainimage,jdbcType=VARCHAR}, #{subimages,jdbcType=VARCHAR}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.xjtu.pojo.Evaluation">
    insert into evaluation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fromuserid != null">
        fromUserId,
      </if>
      <if test="touserid != null">
        toUserId,
      </if>
      <if test="evaluationlabel != null">
        evaluationLabel,
      </if>
      <if test="evaluationtext != null">
        evaluationText,
      </if>
      <if test="rating != null">
        rating,
      </if>
      <if test="mainimage != null">
        mainImage,
      </if>
      <if test="subimages != null">
        subImages,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromuserid != null">
        #{fromuserid,jdbcType=INTEGER},
      </if>
      <if test="touserid != null">
        #{touserid,jdbcType=INTEGER},
      </if>
      <if test="evaluationlabel != null">
        #{evaluationlabel,jdbcType=VARCHAR},
      </if>
      <if test="evaluationtext != null">
        #{evaluationtext,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        #{rating,jdbcType=REAL},
      </if>
      <if test="mainimage != null">
        #{mainimage,jdbcType=VARCHAR},
      </if>
      <if test="subimages != null">
        #{subimages,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        now(),
      </if>
      <if test="updatetime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjtu.pojo.Evaluation">
    update evaluation
    <set>
      <if test="fromuserid != null">
        fromUserId = #{fromuserid,jdbcType=INTEGER},
      </if>
      <if test="touserid != null">
        toUserId = #{touserid,jdbcType=INTEGER},
      </if>
      <if test="evaluationlabel != null">
        evaluationLabel = #{evaluationlabel,jdbcType=VARCHAR},
      </if>
      <if test="evaluationtext != null">
        evaluationText = #{evaluationtext,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        rating = #{rating,jdbcType=REAL},
      </if>
      <if test="mainimage != null">
        mainImage = #{mainimage,jdbcType=VARCHAR},
      </if>
      <if test="subimages != null">
        subImages = #{subimages,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjtu.pojo.Evaluation">
    update evaluation
    set fromUserId = #{fromuserid,jdbcType=INTEGER},
      toUserId = #{touserid,jdbcType=INTEGER},
      evaluationLabel = #{evaluationlabel,jdbcType=VARCHAR},
      evaluationText = #{evaluationtext,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=REAL},
      mainImage = #{mainimage,jdbcType=VARCHAR},
      subImages = #{subimages,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>